<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body background="/ice Cream.jpeg" style="background-size:100% 100%" link="#000" alink="#017bf5" vlink="#000">
<h1 align="center">
	<font color="663300">
		<span style="font-size: 50px;">&#9752;</span>
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>  
<span style="font-size: 50px;">&#10046;</span>
<span style="font-size: 50px;">&#9752;</span>
  </font>

<u><font face="Monotype Corsiva" color="#cc0099" size="7">
 Ice Creams :-
</font></u>
<font color="663300">
	<span style="font-size: 50px;">&#9752;</span>
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
<span style="font-size: 50px;">&#9752;</span>
 </font>
</h1>

<h2 align="Left">
	<font color="663300" face="Lucida Calligraphy">
<u>Name :- </u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Price :-</u>
</font></h2>

<FORM>
	<font face="lato" color="#cc0099" size="5">
	<input type="checkbox">Vanilla Ice Cream...................................................................... 100/-<br>
	<input type="checkbox">Chocolate Ice Cream................................................................. 100/-<br>
	<input type="checkbox">Kulfi Ice Cream......................................................................... 90/-<br>
	<input type="checkbox">Butter Scotch Ice Cream.............................................................100/-<br>
	<input type="checkbox">Ice Cream Cake...........................................................................130/-<br>
	<input type="checkbox"> Fruit Ice Cream   .........................................................................100/-<br>
	<input type="checkbox">Ice Cream Brick......................................................................... 100/-<br>
	<input type="checkbox">Mango Ice Cream...................................................................... 100/-<br>
	<input type="checkbox">Softy Ice Cream ........................................................................ 100/-<br>
	<input type="checkbox">Falooda Ice Cream..................................................................... 100/-<br>
	
	</font></FORM>


<h1 align="Left">
	<font size="4">	<button>
<a href="/2ndpage.html">Back</a>   	<button><a href="/Homepage.html">Home</a></button>  <center><button><a href="/order%20page.html">Order Please...</a></center></button>
	</font>
	</h1></button>

<font color="skyblue">
<span style="font-size: 90px;">&#9752;</span>
<span style="font-size: 90px;">&#10049;</span>
<span style="font-size: 90px;">&#10043;</span>
<span style="font-size: 90px;">&#10049;</span>
<span style="font-size: 90px;">&#9752;</span>
<span style="font-size: 90px;">&#10043;</span>
<span style="font-size: 90px;">&#10049;</span>
<span style="font-size: 90px;">&#9752;</span>
<span style="font-size: 90px;">&#10043;</span>
<span style="font-size: 90px;">&#10049;</span>
<span style="font-size: 90px;">&#9752;</span>
</font>












</body>
</html>