<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body background="/sweets.jpeg" style="background-size:100% 100%" link="#000" alink="#017bf5" vlink="#000">
<h1 align="center">
    <font color="663300">
<span style="font-size: 50px;">&#9752;</span>
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>  
<span style="font-size: 50px;">&#10046;</span>
<span style="font-size: 50px;">&#9752;</span>
</font>

<u><font face="Monotype Corsiva" color="#cc0099" size="7">
 Indian Chaat :-
</font></u>
<font color="663300">
<span style="font-size: 50px;">&#9752;</span>
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
<span style="font-size: 50px;">&#9752;</span>
</font>
</h1>

<h2 align="Left">
<font color="663300" face="Lucida Calligraphy">
<u>Name :- </u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Price :-</u>
</font></h2>

<FORM>
	<font face="lato" color="#cc0099" size="5">
	<input type="checkbox">Chhole Bhature ...................................... 50/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Pcs)<br>
	<input type="checkbox">Dokla...................................................... 35/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(250 gm.)<br>
	<input type="checkbox">Gol Gappe ..............................................10/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Pcs)<br>
	<input type="checkbox">Aloo Tikki...............................................40/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Pcs)<br>
	<input type="checkbox">Bhalle Papdi............................................40/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Pcs)<br>
	<input type="checkbox">Dahi Bhalla ............................................40/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Pcs)<br>
	<input type="checkbox">Tawa Aloo Chaat.....................................35/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Plate)<br>
	<input type="checkbox">Raj Kachodi.............................................55/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1 Pcs)<br>
	<input type="checkbox">Pav Bhaji.................................................50/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Plate)<br>
	<input type="checkbox">Bhel Puri..................................................35/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Plate)<br>
	<input type="checkbox">Samosa.....................................................10/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1 Pc)<br>
	<input type="checkbox">Lassi Sweet/Salty.....................................30/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Per Glass)<br>
	<input type="checkbox">Cold Drink...............................................MRP<br>
	<input type="checkbox">Minral Water............................................MRP<br>
	</font></FORM>


<h1 align="Left">
	<font size="4">	<button>
<a href="/2ndpage.html">Back</a>   	<button><a href="/Homepage.html">Home</a></button>  <center><button><a href="/order%20page.html">Order Please...</a></center></button>
	</font>
	</h1></button>


</body>
</html>