<!DOCTYPE html>
<html>
<head>
	<title> non veg</title>
</head>
<body background="../images/36d1fbb7-c3d5-4ec6-9cfc-447229596a20 - Copy (2).jpeg" style="background-size:100% 100%" link="#000" alink="#017bf5" vlink="#000">


<h1 align="center">
	<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
  </font>

<u><font face="Monotype Corsiva" color="#cc0099" size="7">
 Non-Vegetarian :-
</font></u>
<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
 </font>
</h1>

<h2 align="Left">
	<font color="663300" face="Lucida Calligraphy">
<u>Name :- </u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Half</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Full</u>
</font></h2>

<FORM method="post" action="/order">
	<font face="lato" color="#000000" size="5">
	<input type="checkbox" name ="food" value="300">Tandoori Chicken...............................................................160/- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 300/-<br>
	<input type="checkbox" name ="food" value="330">Afgani Chicken..................................................................180/- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 330/-<br>
	<input type="checkbox" name ="food" value="330">Chicken Tikka............................(6/12 PCS)......................180/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 330/-<br>
	<input type="checkbox" name ="food" value="300">Fish Tikka ......................................................................... 170/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 300/-<br>
	<input type="checkbox" name ="food" value="300">Fish Tikka Afgani ..............................................................170/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 300/-<br>
	<input type="checkbox" name ="food" value="400">Chicken Curry.................................................................... 200/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 400/-<br>
	<input type="checkbox" name ="food" value="450">Chicken Tawa .................................................................... 250/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 450/-<br>
	<input type="checkbox" name ="food" value="450">Chicken Kadahi ..................................................................250/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 450/-<br>
	<input type="checkbox" name ="food" value="150">Chicken Seekh Kabab......................................................... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 150/-<br>
	<input type="checkbox" name ="food" value="450">Mutton Biryani ....................................................................300/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 450/-<br>
	<input type="checkbox" name ="food" value="100">Chicken Biryani ..................................................................250/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 500/-<br>
	<input type="checkbox" name ="food" value="190">Egg Biryani......................................................................... 100/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 190/-<br>
	<input type="checkbox" name ="food" value="100">Chicken Tikka Roll ............................................................ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100/-<br>
	<input type="checkbox" name ="food" value="480">Butter Chicken......................................................................260/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 480/-
	<input type="checkbox"name ="food" value="0" hidden checked><br>
	<label for="Address" style="margin-left: 20px; padding-top: 50px;">Address :</label>
	<input type="text" name="address" placeholder="Enter your address" style="width: 350px;" required>
	<input type="submit" style="margin-left: 150px;"  value="order" >
	</font>
</FORM>

<h1 align="Left">
	<font size="4">	<button>
<a href="/2ndpage.html">Back</a>   	<button><a href="/Homepage.html">Home</a></button>  <center>
	</font>
	</h1></button>













</body>
</html>