<!DOCTYPE html>
<html>
<head>
	<title>Tandoori Paranthe & Breads</title>
</head>
<body background="C:\Users\hp systems\Desktop\Project\36d1fbb7-c3d5-4ec6-9cfc-447229596a20.jpeg"  style="background-size:100% 115%" link="#000" alink="#017bf5" vlink="#000">

<h1 align="center">
	<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
  </font>

<u><font face="Monotype Corsiva" color="#cc0099" size="7">
 Tandoori Paranthe & Breads :-
</font></u>
<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
 </font>
</h1>
<FORM method="post" action="/order">
	<font face="lato" color="#cc3300" size="5">
	<input type="checkbox">Plain Roti...................................................................................... 8/-<br>
	<input type="checkbox">Butter Roti.....................................................................................10/-<br>
	<input type="checkbox">Aloo Parantha................................................................................50/-<br>
	<input type="checkbox">Onion Parantha.............................................................................60/-<br>
	<input type="checkbox">Paneer Parantha ............................................................................80/-<br>
	<input type="checkbox">Gobhi Parantha.............................................................................50/-<br>
	<input type="checkbox">Aalu Pyaz Parantha ......................................................................70/-<br>
	<input type="checkbox">Paneer Pyaz Parantha ....................................................................85/-<br>
	<input type="checkbox">Garlic Parantha..............................................................................65/-<br>
	<input type="checkbox">Mix Parantha .................................................................................60/-<br>
	<input type="checkbox">Soya Parantha................................................................................70/-<br>
	<input type="checkbox">Red Chilli Parantha ........................................................................85/-<br>
	<input type="checkbox">Lachha Parantha.............................................................................20/-<br>
	<input type="checkbox">Green Chilli Lachha Parantha ........................................................30/-
	<input type="checkbox"name ="food" value="0" hidden checked><br>
	<label for="Address" style="margin-left: 20px; padding-top: 50px;">Address :</label>
	<input type="text" name="address" placeholder="Enter your address" style="width: 350px;" required>
	<input type="submit" style="margin-left: 150px;"  value="order" >
	</font>
</FORM>

<h1 align="Left">
	<font size="4">	<button>
<a href="/3rdpage[veg].html">Back</a>   	<button><a href="/Homepage.html">Home</a></button>  <center><button><a href="/order%20page.html">Order Please...</a></center></button>
	</font>
	</h1></button>







</body>
</html>