<!DOCTYPE html>
<html>
<head>
	<title>vegetables</title>
</head>
<body background="../images/dal.jpeg" style="background-size:100% 103%" link="#000" alink="#017bf5" vlink="#000">
<h1 align="center">
	<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
  </font>

<u><font face="Monotype Corsiva" color="#cc0099" size="7">
 Vegetables :-
</font></u>
<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
 </font>
</h1>
<br>
<h2 align="Left">
	<font color="663300" face="Lucida Calligraphy">
<u>Name :- </u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Price :-</u>
</font></h2>

<FORM method="post" action="/order">
	<font face="lato" color="#cc0099" size="5">
	<input type="checkbox">Baingan ka Bhartha................................................................... 90/-<br>
	<input type="checkbox">Sarson ka saag............................................................................100/-<br>
	<input type="checkbox">Gajar Matar.................................................................................130/-<br>
	<input type="checkbox">Aloo Methi..................................................................................100/-<br>
	<input type="checkbox">Aloo Gobhi..................................................................................90/-
	<input type="checkbox"name ="food" value="0" hidden checked><br>
	<label for="Address" style="margin-left: 20px; padding-top: 50px;">Address :</label>
	<input type="text" name="address" placeholder="Enter your address" style="width: 350px;" required>
	<input type="submit" style="margin-left: 150px;"  value="order" >
	</font></FORM>




<h1 align="Left">
	<font size="4">	<button>
<a href="/3rdpage[veg].html#">Back</a>   	<button><a href="/Homepage.html">Home</a></button> <br>        <center><button><a href="/order%20page.html">Order Please...</a></center></button>
	</font>
	</h1></button>

<br><br><br><br>
<font color="663300">
<span style="font-size: 90px;">&#9752;</span>
<span style="font-size: 90px;">&#10049;</span>
<span style="font-size: 90px;">&#10046;</span>
<span style="font-size: 90px;">&#9752;</span>
<span style="font-size: 90px;">&#10049;</span>
<span style="font-size: 90px;">&#10046;</span>
<span style="font-size: 90px;">&#9752;</span>
<span style="font-size: 90px;">&#10049;</span>
<span style="font-size: 90px;">&#10046;</span>
<span style="font-size: 90px;">&#9752;</span>
<span style="font-size: 90px;">&#10049;</span>
 </font>






</body>
</html>