<!DOCTYPE html>
<html>
<head>
<title>2nd page</title>
</head>
<body  background="../images/restaurants photos/06f814e8-28e5-4bc6-9068-6fcb7e20edc4.jpeg" link="#000" alink="#017bf5" vlink="#000">
<img align="right" src="../images/restaurants photos/4.JPG" width="100" height="645" >
<br>
<h1 align="LEFT">
<font face="Monotype Corsiva" color="#0000cc" size="7">
	What would you like to have :-	 
</font></h1>		
<h2>			
<ul>
	<li><a href="/pages/vegeterian">Vegetarian</a></li><br>
	<li><a href="/pages/nonveg">Non-Vegetarian</a></li><br>
	<li><a href="/pages/snacks">Snacks</a></li><br>
	<li><a href="/pages/sweets">Sweets</a></li><br>
	<li><a href="/pages/Icecream">Ice-Cream</a></li><br>
	<li><a href="/pages/shakes">Shakes/Juice</a></li><br>
	<li><a href="/pages/IndianChaat">Indian Chaat</a></li>  
</ul>
</h2>
<h2><center><button><a href="/Homepage.html">Home</a></button></center></h2>

<span style="font-size: 80px;">&#10043;</span>
<span style="font-size: 80px;">&#10049;</span>
<span style="font-size: 80px;">&#10043;</span>
<span style="font-size: 80px;">&#10049;</span>
<span style="font-size: 80px;">&#10043;</span>
<span style="font-size: 80px;">&#10049;</span>
<span style="font-size: 80px;">&#10043;</span>
<span style="font-size: 80px;">&#10049;</span>
<span style="font-size: 80px;">&#10043;</span>
<span style="font-size: 80px;">&#10043;</span>
<span style="font-size: 80px;">&#10049;</span>
</body>
</html>