<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body background="/dal.jpeg" style="background-size:100% 110%" link="#000" alink="#017bf5" vlink="#000">
<h1 align="center">
	<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
  </font>

<u><font face="Monotype Corsiva" color="#cc0099" size="7">
 Snacks :-
</font></u>
<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
 </font>
</h1>

<h2 align="Left">
	<font color="663300" face="Lucida Calligraphy">
<u>Name :- </u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Price :-</u>
</font></h2>

<FORM>
	<font face="lato" color="purple" size="5">
	<input type="checkbox" name ="food" value="100">Tea .......................................................................................... 20/-<br>
	<input type="checkbox" name ="food" value="100">Coffee.......................................................................................50/-<br>

	<input type="checkbox" name ="food" value="100">Pani Puri...................................................................................50/-<br>
	<input type="checkbox" name ="food" value="100">Papdi Chaat..............................................................................70/-<br>
	<input type="checkbox" name ="food" value="100">Instant Khaman Dokla..............................................................110/-<br>
	<input type="checkbox" name ="food" value="100">Tandoori Paneer Tikka .............................................................130/-<br>
	<input type="checkbox" name ="food" value="100">SandWich..................................................................................70/-<br>
	<input type="checkbox" name ="food" value="100">Burger........................................................................................50/-<br>
	<input type="checkbox" name ="food" value="100">Aloo Tikki Burger ....................................................................60/-<br>
	<input type="checkbox"name ="food" value="100">Tandoori Paneer Tikka .............................................................100/-<br>
	<input type="checkbox" name ="food" value="100">Momos .....................................................................................40/-<br>
	<input type="checkbox" name ="food" value="100">Pav Bhaji..................................................................................80/-<br>
	<input type="checkbox" name ="food" value="100">Masala Dosa.............................................................................100/-<br>
	<input type="checkbox" name ="food" value="100">Chocolate Toast........................................................................130/-<br>
	<input type="checkbox" name ="food" value="100">Moong Dal Khasta Kachori......................................................90/-
	</font></FORM>


<h1 align="Left">
	<font size="4">	<button>
<a href="/2ndpage.html">Back</a>   	<button><a href="/Homepage.html">Home</a></button>  <center><button><a href="/order%20page.html">Order Please...</a></center></button>
	</font>
	</h1></button>








</body>
</html>