<!DOCTYPE html>
<html>
<head>
	<title>vegetables</title>
</head>
<body background="/dal.jpeg" style="background-size:100% 100%" link="#000" alink="#017bf5" vlink="#000">
<h1 align="center">
	<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
  </font>

<u><font face="Monotype Corsiva" color="#cc0099" size="7">
 South Indian Food :-
</font></u>
<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
 </font>
</h1>
<br>
<h2 align="Left">
	<font color="663300" face="Lucida Calligraphy">
<u>Name :- </u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Price :-</u>
</font></h2>

<FORM>
	<font face="lato" color="#cc0099" size="5">
	<input type="checkbox" name ="food" value="100">Sambar idli.......................................................................40/-<br>
	<input type="checkbox" name ="food" value="100">Sambar Vada....................................................................60/-<br>
	<input type="checkbox" name ="food" value="100">Plane Dosa.......................................................................50/-<br>
	<input type="checkbox" name ="food" value="100">Masala Dosa....................................................................70/-<br>
	<input type="checkbox" name ="food" value="100" >Paneer Dosa.....................................................................90/-<br>
	<input type="checkbox" name ="food" value="100">Butter Masala Dosa.........................................................80/-<br>
	<input type="checkbox" name ="food" value="100">Dahi Vada........................................................................50/-<br>
	<input type="checkbox" name ="food" value="100">Fry idli.............................................................................70/-<br>
	<input type="checkbox" name ="food" value="100">Mendu Wada ..................................................................80/-
	</font></FORM>




<h1 align="Left">
	<font size="4">	<button>
<a href="/3rdpage[veg].html#">Back</a>   	<button><a href="/Homepage.html">Home</a></button> <br>        <center><button><a href="/order%20page.html">Order Please...</a></center></button>
	</font>
	</h1></button>


<font color="green">
<span style="font-size: 70px;">&#9752;</span>
 <span style="font-size: 70px;">&#10049;</span>
<span style="font-size: 70px;">&#10046;</span>
<span style="font-size: 70px;">&#9752;</span>
<span style="font-size: 70px;">&#10049;</span>
<span style="font-size: 70px;">&#10046;</span>
<span style="font-size: 70px;">&#9752;</span>
<span style="font-size: 70px;">&#10049;</span>
<span style="font-size: 70px;">&#10046;</span>
<span style="font-size: 70px;">&#9752;</span>
<span style="font-size: 70px;">&#10049;</span>
<span style="font-size: 70px;">&#10046;</span>
<span style="font-size: 70px;">&#9752;</span>
<span style="font-size: 70px;">&#10049;</span>
 </font>






</body>
</html>