<!DOCTYPE html>
<html>
<head>
	<title>Vegetarian</title>
</head>
<body background="../images/36d1fbb7-c3d5-4ec6-9cfc-447229596a20.jpeg" link="#000" alink="#017bf5" vlink="#000">
<img align="right" src="../images/restaurants photos/4.JPG" width="100" height="635">

<h1 align="center">
	<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
<span style="font-size: 50px;">&#10048;</span>
<span style="font-size: 50px;">&#10051;</span>  </font>

<u><font face="Monotype Corsiva" color="#cc0099" size="7">
Vegetarian  Dishes:-	 
</font></u>
<font color="663300">
<span style="font-size: 50px;">&#10043;</span>
<span style="font-size: 50px;">&#10049;</span>
<span style="font-size: 50px;">&#10046;</span>
<span style="font-size: 50px;">&#10048;</span>
<span style="font-size: 50px;">&#10051;</span>  </font>
</h1>

<h1>
<ul>
	<li><a href="/pages/tandoori-paranthe">Tandoori Paranthe & Breads</a></li><br>
	<li><a href="/pages/daalSpecial">Dal Special</a></li><br>
	<li><a href="/pages/vegetables">Vegetables</a></li><br>
	<li><a href="/pages/seasonalVeg">Seasonal Veg</a></li><br>

	<li><a href="/pages/southindian">South Indian Food</a></li>
</ul>
</h1>

<h1 align="Left">
	<font size="4">	<button>
<a href="/2ndPage.html">Back</a>   	<button><a href="/Homepage.html">Home</a></button>  
	</font>
	</h1></button>






</body>
</html>